/*菜单文字颜色*/
.page-sidebar .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu > li > a > i,
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #fff;
}

.page-header.navbar .menu-toggler > span,
.page-header.navbar .menu-toggler > span:before,
.page-header.navbar .menu-toggler > span:after {
    background: #fff;
}

/*面包屑导航*/
.page-breadcrumb .fa-circle {
    top: 0 !important;
}

.page-breadcrumb a {
    color: #337ab7 !important;
}


/*DataTables [展开/收缩] 按钮*/
td.details-control {
    background: url('./common/doclose.png') no-repeat center center;
    cursor: pointer;
}

td.details-control.closed {
    background-position-x: -71px;
}

td.details-control.disabled {
    background-position-x: 9px;
}
